{% extends "layouts/base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="content-landing">
        <img src="/static/images/sanders-photo-profile.png" alt="Photo of Sanders">
        <h1>Hello World from Heroku!</h1>
        <nav class="social-networks">
            <a href="https://github.com/sandersgutierrez" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/isandersito" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://linkedin.com/in/sandersgutierrez" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </nav>
        <span>This was done by a developer!</span>
        <span><a href="https://github.com/sandersgutierrez/helloworld-for-heroku"><i class="fa fa-github-alt"></i> View Repository</a></span>
    </div>
{% endblock %}