{% extends "layouts/base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="content-landing">
        <img src="/static/images/sanders-photo-profile.png" alt="Photo of Sanders">
        <h1>Hello World from Heroku!</h1>
        <nav class="social-networks">
            <a href="https://github.com/sandersgutierrez">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/isandersito">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://facebook.com/gutisanders">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
        </nav>
        <span>This was done by a developer! - <a href="https://github.com/sandersgutierrez/"><i class="fa fa-github-alt"></i> View Repository</a></span>
    </div>
{% endblock %}