{% extends "layouts/base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="content-landing">
        <img src="/static/images/sanders-photo-profile.png" alt="Photo of Sanders">
        <h1>Hello World from Heroku!</h1>
        <span>This was done by a developer!</span>
    </div>
{% endblock %}